<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Layout</title>
</head>
<body class="narrow">

<div id="header">
	<div class="wrap">
		<a href="index.html" id="toggle" class="fr">宽</a>
		<a href="#" id="logo"><img src="img/logo.svg" alt=""></a>
	</div>
</div>

<div id="content">
	<div class="wrap">
		
		<div class="row">
			<div class="col col-12">940px</div>
		</div>
		
		<div class="row">
			<div class="col col-6">460px</div>
			<div class="col col-6">460px</div>
		</div>
		
		<div class="row">
			<div class="col col-3">220px</div>
			<div class="col col-9">700px</div>
		</div>
		
		<div class="row">
			<div class="col col-4">300px</div>
			<div class="col col-8">620px</div>
		</div>
		
		<div class="row">
			<div class="col col-5">380px</div>
			<div class="col col-7">540px</div>
		</div>
		
		<div class="row">
			<div class="col col-4">300px</div>
			<div class="col col-4">300px</div>
			<div class="col col-4">300px</div>
		</div>
		
		<div class="row">
			<div class="col col-3">220px</div>
			<div class="col col-3">220px</div>
			<div class="col col-3">220px</div>
			<div class="col col-3">220px</div>
		</div>
		
		<div class="row">
			<div class="col col-2">140px</div>
			<div class="col col-8">620px</div>
			<div class="col col-2">140px</div>
		</div>
		
		<div class="row">
			<div class="col col-2">140px</div>
			<div class="col col-2">140px</div>
			<div class="col col-2">140px</div>
			<div class="col col-2">140px</div>
			<div class="col col-2">140px</div>
			<div class="col col-2">140px</div>
		</div>
		
		<div class="row">
			<div class="col col-1">60px</div>
			<div class="col col-11">860px</div>
		</div>
		
		<div class="row">
			<div class="col col-1">60px</div>
			<div class="col col-1"></div>
			<div class="col col-1"></div>
			<div class="col col-1"></div>
			<div class="col col-1"></div>
			<div class="col col-1"></div>
			<div class="col col-1"></div>
			<div class="col col-1"></div>
			<div class="col col-1"></div>
			<div class="col col-1"></div>
			<div class="col col-1"></div>
			<div class="col col-1"></div>
		</div>
	</div>
</div>

<div id="footer">
	<div class="wrap">
		<p>Copyright © 2015 BTC.com</p>
	</div>
</div>

<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/wow.min.js"></script>
<script>
$(document).ready(function(){
	
$(".row").find(".col:last").css("margin-right","0");

});
</script>
</body>
</html>
