html,body,div,h1,h2,p{ margin: 0; padding: 0;}
body{text-align: center; font-size: 14px; color: #888;}
a{ text-decoration: none; color: #052748;}

.fr{ float: right;}
.wrap{ width: 1180px; margin: 0 auto; text-align: left;}
.row{ clear: both; min-height: 80px; margin-top: 20px; padding: 0;}
.col{ display: block; float: left; margin-right: 20px; min-height: 80px; background-color: #f3f4f7; text-align: center; line-height: 80px;}
.col:hover{ background-color: #aaa; font-size: 24px; color: #fff;}
.col-1{ width: 80px;}
.col-2{ width: 180px;}
.col-3{ width: 280px;}
.col-4{ width: 380px;}
.col-5{ width: 480px;}
.col-6{ width: 580px;}
.col-7{ width: 680px;}
.col-8{ width: 780px;}
.col-9{ width: 880px;}
.col-10{ width: 980px;}
.col-11{ width: 1080px;}
.col-12{ width: 1180px;}

.narrow .wrap{ width: 940px;}
.narrow .row{ min-height: 60px;}
.narrow .col{ min-height: 60px; line-height: 60px;}
.narrow .col-1{ width: 60px;}
.narrow .col-2{ width: 140px;}
.narrow .col-3{ width: 220px;}
.narrow .col-4{ width: 300px;}
.narrow .col-5{ width: 380px;}
.narrow .col-6{ width: 460px;}
.narrow .col-7{ width: 540px;}
.narrow .col-8{ width: 620px;}
.narrow .col-9{ width: 700px;}
.narrow .col-10{ width: 780px;}
.narrow .col-11{ width: 860px;}
.narrow .col-12{ width: 940px;}

#header{ padding: 20px 0 10px; background: #f3f4f7;}
#logo{ }

#content{}

#footer{ margin-top: 20px; min-height: 80px; padding: 20px 0; background-color: #f3f4f7; font-size: 12px;}