<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>svg</title>
    <style>
/* 		body{ background: url(img/icon.svg) repeat; background-size: 63px auto;} */
		#logo{}
    </style>
</head>
<body>
		<a href="#" id="logo">
			<object data="img/logo.svg" width="230" height="auto" border="none" type="image/svg+xml">
				<!-- [ if lte IE 8 ] -->
				<img src="img/logo.png" alt="">
				<!-- [endif] -->
			</object>
<!-- 			<img src="img/logo.svg" alt=""> -->
		</a>
</body>
</html>
